POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_DB=mini_ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_SCHEMA=mini_ecommerce

MONGO_ROOT_USERNAME=mongo
MONGO_ROOT_PASSWORD=123456

KAFKA_CLIENT_ID=mini-ecommerce-api
KAFKA_BROKERS=localhost:9092
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk