NODE_ENV=development
PORT=3007
MONGODB_URI=mongodb://notification_user:notification_local@localhost:27017/notification_db?authSource=notification_db
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=notification-service
KAFKA_GROUP_ID=notification-service