.wrapper {
  position: relative;
}
.wrapper input {
  padding-right: 46px;
}
.wrapper button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 44px;
  display: grid;
  place-items: center;
  border: 0;
  background: transparent;
  color: #897597;
  cursor: pointer;
  border-radius: 8px;
}
